doctype html
html(lang="en")
    head
        // ...
        link(rel="stylesheet", href="./src/styles/home/index.sass")
    body
        h1 hepl
        img(src='public/images/test.png')
        script(src="./src/js/index.js")