doctype html
html(lang="en")
  head
    script(src="./Home.js")
  body
    include ./../../components/Header/Header
    img(src="./../../assets/images/test-image-travol.jpg")
    include ./../../components/Footer/Footer
