doctype html
html(lang="en")
    head
        script(async=true src="./../js/home.js")
    body
        h1 Home
        a(href='./../views/contact-us.pug') btn
        img(src="./../../public/images/test.png")